<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="w-full h-full bg-zinc-900 p-10 text-white">
            <div class="nav mb-10 flex gap-5">
                <a class="text-blue-500" href="/">Home</a>
                <a class="text-blue-500" href="./read">Read</a>
                <a class="text-blue-500" href="./read">Update</a>
                <a class="text-blue-500" href="./read">Delete</a>
            </div>
        <h1 class="text-3xl tracking-tighter mb-5">Create User</h1>
        <form class="flex flex-col gap-2" action="/api/create" method="post">
            <input class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" type="text"  name="name" placeholder="Name">
            <input class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" type="text"  name="email" placeholder="Email">
            <input class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" type="text"  name="image" placeholder="Image URL">
            <input class="bg-blue-800 p-2 rounded-lg" type="submit" value="Create User">
        </form>
    </div>
</body>
</html>